extends ../../../#picker/templates/col1aux/col1aux.pug

block variables
  - let title = " empty"
  - let template = "col1aux"
  - let pagename = "empty"

block main
  main.main-empty
    h1.main-empty__title Empty page
    p.main-empty__text Page is under construction!

block scripts
  //- script(src="./scripts/pages/404.min.js")
