.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include fst(height, 64px);
  @include fst(padding-right, 16px);
  @include fst(padding-left, 16px);

  &__link {
    @include fst(margin-right, 16px);
    @include fst(margin-left, 16px);
  }
}

@import "../../components/zooming/zooming.scss";
