$buttonZoomingFontSize: 24px;
$buttonZoomingSize: $buttonZoomingFontSize * 2;
$buttonZoomingPadding: $buttonZoomingFontSize / 4;
$buttonZoomingEdgeIndent: $buttonZoomingFontSize / 2;
$buttonZoomingColor: #dbc7ab;
$buttonZoomingTextShadow: $buttonZoomingColor;
$buttonZoomingBackground: #1e1a18;

#zooming {
  position: fixed;

  @include fst(right, $buttonZoomingEdgeIndent);
  @include fst(bottom, $buttonZoomingEdgeIndent);
  @include fst(width, $buttonZoomingSize + $buttonZoomingPadding);
  @include fst(height, $buttonZoomingSize + $buttonZoomingPadding);
  @include fst(padding-right, $buttonZoomingPadding * 1.5);
  @include fst(padding-bottom, $buttonZoomingPadding * 3.5);
  @include fst(font-size, $buttonZoomingFontSize);

  font-style: italic;
  font-weight: 400;
  color: $buttonZoomingColor;
  text-shadow: 0 0 ($buttonZoomingFontSize / 4) $buttonZoomingTextShadow;
  background: radial-gradient(ellipse farthest-side at bottom right, $buttonZoomingTextShadow 6.25%, $buttonZoomingBackground 90%);
  border-radius: 50%;
  box-shadow: 0 0 $buttonZoomingPadding ($buttonZoomingPadding / 2) $buttonZoomingColor;
  transition: all linear .2s;
}

#zooming:hover {
  color: white;
  text-shadow: 0 0 ($buttonZoomingFontSize / 8) black;
  box-shadow: 0 0 $buttonZoomingPadding ($buttonZoomingPadding / 2) white;
}

// bp отключения кноки задаётся в соответствующем шаблоне! например,
// в col1aux.scss
//   @include bp($container-page-aux) { #zooming { display: none; } }
// в col3.scss
//   @include bp($container-page) { #zooming { display: none; } }
