extends ../../../#picker/templates/default404/default404.pug

block variables
  - let title = " 404"
  - let template = "default404"
  - let pagename = "404"

block main
  main.main-404
    h1.main-404__title Page 404
    p.main-404__text Page not found or under construction!

block scripts
  //- script(src="./scripts/pages/404.min.js")
