.footer {
  width: 100%;

  @include fst(height, 64px);

  &__title {
    @include fst(margin-bottom, 24px);
    @include fst(font-size, 24px);

    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }
}
