@import "_presets.scss";
@import "_sets.scss";

/************** === starting the styles of the common modules === *************/

.page {
  &__header-wrap,
  &__footer-wrap { background-color: rgb(167, 145, 145); }
}

.content_page {
  &__sidebar-wrap,
  &__aside-wrap { background-color: rgb(145, 167, 145); }
  &__main-wrap { background-color: rgb(161, 172, 61); }
}

@import "../modules/blocks/header/header.scss";
@import "../modules/blocks/sidebar/sidebar.scss";
@import "../modules/blocks/aside/aside.scss";
@import "../modules/blocks/footer/footer.scss";

/******************  ending the styles of the common modules ******************/

/*******************************************************************************
************************ ===  mediaqueries starting  === ***********************
************************                                 **********************/
